body {
    font-family: "Arial", sans-serif;
}

.bg-primary {
    background-color: #1B427D !important;
}

.bg-secondary {
    background-color: #039BDA !important;
}

.bg-info {
    background-color: #E2E2E2 !important;
    color: #1B427D;
}

h1,
h2,
h3 {
    font-family: "Impact", cursive;
}

h1 {
    color: #1B427D;
}

h2 {
    color: #1B427D;
}

h4 {
    font-size: 1.25rem;
}

header h2 {
    color: #039BDA;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 0;
}

header.fixed-top {
    padding: 0;
}

header.fixed-top #headerCol {
    padding-left: 0;
}

header.fixed-top h1 {
    padding-top: 0.75rem;
}

header.fixed-top h2 {
    display: none;
}

header.fixed-top img {
    width: 75%;
    padding-left: 1rem;
}

.navbar {
    font-family: "Impact", cursive;
    font-size: 1.5rem;
}

.navbar a.nav-link {
    color: #039BDA;
}

.navbar a:hover {
    text-decoration: underline;
}

footer {
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    color: white;
    margin: 0;
    background-color: #E2E2E2;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

#searchFields input[type=text] {
    font-size: 1.25rem;
}

#searchFields .btn-primary {
    background-color: #039BDA;
    border-color: #039BDA;
    margin-bottom: 0.5rem;
}

#searchFields .btn-primary:hover {
    background-color: #1B427D;
}

#searchFields .btn-outline-primary {
    color: #039BDA;
    border-color: #039BDA;
}

#searchFields .btn-outline-primary:hover {
    background-color: #1B427D;
}

#searchFields .btn-secondary {
    background-color: #1B427D;
    border-color: #1B427D;
}

#searchFields .btn-outline-secondary {
    color: #1B427D;
    border-color: #1B427D;
    margin-bottom: 0.5rem;
}

#searchFields .btn-outline-secondary:hover {
    background-color: #E2E2E2;
}

#searchFields .toggle.btn-outline-secondary .toggle-handle {
    background-color: #1B427D;
    border-color: #1B427D;
}

#searchFields .bg-info {
    background-color: #039BDA !important;
}

.featuredEventCard .featuredEventIcon {
    display: block;
    float: right;
    color: #F8C208;
}

.eventCard .eventDateTimeLocation {
    text-transform: uppercase;
    color: #F8C208;
}

.eventCard .eventDateTimeLocation .eventDate {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.eventCard .eventDateTimeLocation .eventDate .eventDateDays {
    font-size: 2.25rem;
    display: block;
    line-height: 0.6;
}

.eventCard .eventDateTimeLocation .eventTime {
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.eventCard .eventDateTimeLocation .eventLocation {
    font-weight: 400;
}

.eventCard .card-header a {
    color: #1B427D;
}

.eventCard .card-header a:hover {
    color: #039BDA;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    padding: 20px 0;
}

#footerMenu {
    margin-bottom: 0;
}

.calendar {
    font-size: 100%;
    margin: 0 auto;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    cursor: default;
    position: relative;
}

@media (max-width: 767.98px) {
    .calendar {
        width: 100%;
    }
}

.calendar .header {
    height: 80px;
    position: relative;
    color: #fff;
}

.calendar .header .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #039BDA;
    padding: 15px;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .4s ease-in-out 0s;
    -o-transition: .4s ease-in-out 0s;
    transition: .4s ease-in-out 0s;
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.01), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.01), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.calendar .header .text>span {
    text-align: center;
    padding: 20px;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
}

.calendar .header.active .text {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}

.months {
    width: 100%;
    height: 250px;
    position: relative;
}

.months .hr {
    height: 1px;
    margin: 15px 0;
    background: #ccc;
}

.month {
    padding: 15px;
    width: inherit;
    height: inherit;
    background: #fff;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.01), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.01), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.months[data-flow="left"] .month {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.months[data-flow="right"] .month {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.table {
    width: 100%;
    font-size: 0.75rem;
    font-weight: 400;
    display: table;
}

.table .row {
    display: table-row;
}

.table .row.head {
    color: #1B427D;
    font-weight: bold;
    text-transform: uppercase;
}

.table .row .cell {
    width: 14.28%;
    padding: 5px;
    text-align: center;
    display: table-cell;
}

.table .row .cell.disable {
    color: #ccc;
}

.table .row .cell span {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    -webkit-transition: color, background .4s ease-in-out 0s;
    -o-transition: color, background .4s ease-in-out 0s;
    transition: color, background .4s ease-in-out 0s;
    cursor: pointer;
}

.table .row .cell.active span {
    color: #fff;
    font-weight: bold;
    background-color: #F8C208;
    border-radius: 4px;
}

.months .month[data-active="true"] {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.header [data-action] {
    color: inherit;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
}

.header [data-action]>i {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
}

.header [data-action]>i:before,
.header [data-action]>i:after {
    top: 50%;
    margin-top: -1px;
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    border-top: 2px solid;
    border-radius: 2px;
}

.header [data-action*="prev"] {
    left: 15px;
}

.header [data-action*="prev"]>i:before,
.header [data-action*="prev"]>i:after {
    left: 0;
}

.header [data-action*="prev"]>i:before {
    top: 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header [data-action*="prev"]>i:after {
    top: auto;
    bottom: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header [data-action*="next"] {
    right: 15px;
}

.header [data-action*="next"]>i:before,
.header [data-action*="next"]>i:after {
    right: 0;
}

.header [data-action*="next"]>i:before {
    top: auto;
    bottom: 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header [data-action*="next"]>i:after {
    top: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header.active [data-action] {
    opacity: 1;
}

[data-theme="january"] {
    background-color: #90CAF9;
}

[data-theme="january"] .row.head {
    color: #1E88E5;
}

[data-theme="january"] .header .text,
[data-theme="january"] .table .row .cell.active span {
    background-color: #1E88E5;
}

[data-theme="february"] {
    background-color: #81D4FA;
}

[data-theme="february"] .row.head {
    color: #039BE5;
}

[data-theme="february"] .header .text,
[data-theme="february"] .table .row .cell.active span {
    background-color: #039BE5;
}

[data-theme="march"] {
    background-color: #80CBC4;
}

[data-theme="march"] .row.head {
    color: #00897B;
}

[data-theme="march"] .header .text,
[data-theme="march"] .table .row .cell.active span {
    background-color: #00897B;
}

[data-theme="april"] {
    background-color: #C5E1A5;
}

[data-theme="april"] .row.head {
    color: #7CB342;
}

[data-theme="april"] .header .text,
[data-theme="april"] .table .row .cell.active span {
    background-color: #7CB342;
}

[data-theme="may"] {
    background-color: #FFE082;
}

[data-theme="may"] .row.head {
    color: #FFB300;
}

[data-theme="may"] .header .text,
[data-theme="may"] .table .row .cell.active span {
    background-color: #FFB300;
}

[data-theme="june"] {
    background-color: #FFAB91;
}

[data-theme="june"] .row.head {
    color: #F4511E;
}

[data-theme="june"] .header .text,
[data-theme="june"] .table .row .cell.active span {
    background-color: #F4511E;
}

[data-theme="july"] {
    background-color: #CE93D8;
}

[data-theme="july"] .row.head {
    color: #8E24AA;
}

[data-theme="july"] .header .text,
[data-theme="july"] .table .row .cell.active span {
    background-color: #8E24AA;
}

[data-theme="august"] {
    background-color: #B39DDB;
}

[data-theme="august"] .row.head {
    color: #5E35B1;
}

[data-theme="august"] .header .text,
[data-theme="august"] .table .row .cell.active span {
    background-color: #5E35B1;
}

[data-theme="september"] {
    background-color: #EF9A9A;
}

[data-theme="september"] .row.head {
    color: #E53935;
}

[data-theme="september"] .header .text,
[data-theme="september"] .table .row .cell.active span {
    background-color: #E53935;
}

[data-theme="october"] {
    background-color: #CE93D8;
}

[data-theme="october"] .row.head {
    color: #8E24AA;
}

[data-theme="october"] .header .text,
[data-theme="october"] .table .row .cell.active span {
    background-color: #8E24AA;
}

[data-theme="november"] {
    background-color: #BCAAA4;
}

[data-theme="november"] .row.head {
    color: #6D4C41;
}

[data-theme="november"] .header .text,
[data-theme="november"] .table .row .cell.active span {
    background-color: #6D4C41;
}

[data-theme="december"] {
    background-color: #B0BEC5;
}

[data-theme="december"] .row.head {
    color: #546E7A;
}

[data-theme="december"] .header .text,
[data-theme="december"] .table .row .cell.active span {
    background-color: #546E7A;
}